<div class="conteiner">
    
    <div class="row">

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoPerfil.jpg" id="fotoperfil"
            class="img-fluid">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre"> Verdún Walter Rodrigo</p>
            <p>Full Stack developer jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h1>Acerca de mi</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Rerum delectus doloribus, modi aliquam ipsa mollitia nisi, 
                nesciunt error nulla neque, quasi atque illum minus! 
                Ea quidem facere et accusantium laudantium.
            </p>
        </div>

    </div>
</div>