<div class="row">
    <h1>Experencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
          <li>
                <h1>Tabajo 1</h1>- 
                <h3>(years)</h3>

          </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Incidunt blanditiis reiciendis,
                 architecto libero perspiciatis aut nesciunt.
                  Nisi minus provident ratione consectetur quis asperiores 
                  aperiam ex fuga, debitis obcaecati recusandae quam.
            </p>
        </ul>
        <ul>
            <li>
                  <h1>Tabajo 2</h1>- 
                  <h3>(years)</h3>
  
            </li>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Incidunt blanditiis reiciendis,
                   architecto libero perspiciatis aut nesciunt.
                    Nisi minus provident ratione consectetur quis asperiores 
                    aperiam ex fuga, debitis obcaecati recusandae quam.
              </p>
          </ul>
          <ul>
            <li>
                  <h1>Tabajo 3</h1>- 
                  <h3>(years)</h3>
  
            </li>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Incidunt blanditiis reiciendis,
                   architecto libero perspiciatis aut nesciunt.
                    Nisi minus provident ratione consectetur quis asperiores 
                    aperiam ex fuga, debitis obcaecati recusandae quam.
              </p>
          </ul>
    </div>
</div>
